.container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
table , th, td{
    border: 1px solid black;
}

.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    gap: 10px;
  }
  
.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.form h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label{
color: black;
font-weight: bolder;
text-transform: capitalize;
}
.container .form form input[type = "submit"]{
        display: inline-grid;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 3px;

}