.container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* border: 3px solid red;    */
    width: 40%;
    padding: 25px 10px;
    border-radius: 20px;
}
.login form{
    /* width: 30%;  */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 40%;
    padding: 25px 10px;
    border-radius: 10px;
}
.signup form{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    
}
form span{
    color: red;
}
.login form input[type="email"],
.login form input[type ="password"],
.login form input[type ="text"],
.login form input[type ="number"]
{
    padding: 13px 0;
    background-color: rgb(245, 253, 132);
    border-radius: 20px;
    color: black;
    border: 2px solid skyblue;
}

.remember-forgot { 
    display: flex; 
    align-items: center;
    justify-content: space-between;

 }

.buttons{
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: space-around; */
}
.buttons button[type="submit"],button[type="button"]{
    cursor: pointer;
    display: flex;
    /* width: 30%; */
    padding: 10px 28px;
    margin-right: 50px;
    border-radius: 20px;
}
.buttons button[type="submit"]{
    background-color: rgb(6, 6, 181);
    color: white;
    border: 2px solid rgb(6, 6, 181);
    /* border: none; */
}
.buttons button[type="button"]{
    background-color: white;
    border: 2px solid  rgb(6, 6, 181);
    color: rgb(6, 6, 181);
}
.buttons button[type="button"]:hover{
    background-color: rgb(6, 6, 181);
    color: white;

}